doctype html
html
  head
    title
      block title
    link(href=bootstrapCss, rel='stylesheet')
    link(href='../base.css', rel='stylesheet')
    link(href='../bootstrap-4.css', rel='stylesheet')
  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-xs-right
            li.nav-item.active
              a.nav-link(href='https://github.com/roca-components/sticky-table-headers') Home
            li.nav-item
              a.nav-link(href='https://github.com/roca-components') ROCA-Components
        h3.text-muted
          block title
      block content

    script.
      if(!document.registerElement) {
        document.write('<script src="!{customElementsPolyfill}"><\/script>');
      }
    script(src='../bundle.js')
